__pycache__
.ipynb_checkpoints
*.egg-info
.vscode
scratch
.tox
build
dist
test/htmlcov
test/.coverage
test/.tmp_profiler_run
examples/active.json
test/data/mspac/c0
binout*
vis_traces.ipynb
set*.csv
masw.k
docs/html
debug.log
*.target
examples/masw/*.png
examples/masw/*.json
examples/mam/*.json
examples/stats/*.txt
examples/stats/*.json
examples/mam/data/*/*.miniseed
